body {
    background: thistle;
}

.box{
    background-color: rgb(129, 0, 0);
    margin: 5px;
}

.wrap{
    height: 100px;
    width: 300px;
    border:1px solid black;
    display: flex;
    align-items: flex-end
}