body {
    background: thistle;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.brown{
    background-color: brown;
}

.box{
    text-align: center;
    height: 100px;
    width: 100px;
    border: solid 2px black;
}